.header-container{
    position: fixed; 
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; 
    max-width: 64.25rem; 
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 0.1875rem solid var(--brand-color2);
    background-color: var(--gray-color8);
}

.header-title{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.0256rem;
    color: var(--gray-color2);
}

.high-light-header{
    color: var(--brand-color2);
}

.button-header{
    width: 2.75rem;
    height: 2.25rem;
    border-radius: 0.3125rem;
    border: none;
    background-color: var(--gray-color6);
    cursor: pointer;
    padding: 0.5625rem 0.875rem;
    gap: 0.625rem;
}
