.header-container{
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin: auto;
    border-bottom: 3px solid var(--brand-color2);
    padding-top: 48px;
    padding-bottom: 48px;
}

.header-title{
    font-size: 40px;
    font-weight: 600;
    line-height: 48.41px;
}

.high-light{
    color: var(--brand-color2);
}

.button-header{
    width: 44px;
    height: 36px;
    border-radius: 5px;
    border: none;
    background-color: var(--gray-color6);
    cursor: pointer;
    padding: 9px 14px 9px 14px;
    gap: 10px;
}